NUT_PASSWORD=inserir_senha_aqui
TIMEZONE=America/Sao_Paulo
EMAIL_DESTINO=email@dominio.com

# SES Config
SES_SMTP_USER=YOUR_SES_SMTP_USER
SES_SMTP_PASS=YOUR_SES_SMTP_PASSWORD
SES_SMTP_HOST=email-smtp.sa-east-1.amazonaws.com
SES_SMTP_PORT=587
SES_FROM_EMAIL=sms@dominio.com
